<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h3>Administrimi dhe Menaxhimi</h3>
<br />

<a asp-action="Index" asp-controller="Admin"><h5>Menaxhimi i perdoruesve</h5></a>
<a asp-action="Index" asp-controller="Role"><h5>Menaxhimi i roleve</h5></a>