@model Projekti.Models.ShtepiBotuese

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<br />

<h1>Create</h1>

<h4>ShtepiBotuese</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShtepiaBotuese" class="control-label"></label>
                <input asp-for="ShtepiaBotuese" class="form-control" />
                <span asp-validation-for="ShtepiaBotuese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendodhja" class="control-label"></label>
                <input asp-for="Vendodhja" class="form-control" />
                <span asp-validation-for="Vendodhja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Shto" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kthehu pas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
